.now-playing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.ui.card:first-child {
  margin-top: 1em;
}

.rating-filter{
  display: inline-block;
  width: 200px;
  margin: 20px;
}

.rating-filter__display{
  position: relative;
  margin-top: 5px;
}

.rating-filter__display-mask{
  position: absolute;
  display: block !important;
  right:0;
  margin-top: -20px;
  height: 20px;
  background-color: #fff;
  overflow: hidden;
}

.genre-filter{
  border: none;
}

.genre-filter__genre{
  display: inline-block;
  margin: 5px;
}

.genre-filter__genre input{
  display: none;
}

.genre-filter__genre label{
  cursor: pointer;
}

.genre-filter__genre input:checked + label .genre-filter__genre-label{
  color: #fff;
  background: #080;
}

.genre-filter__genre-label{
  user-select: none;
}