body{
  background: #ccc;
}

h1, h2, h4 {
  text-align: center;
}

h1{
  font-size: 3rem;
}

header{
  padding: 20px;
  color: #fff;
  background: #333;
}

header .ui.tag.label:after,
header .ui.tag.labels .label:after{
  background-color: #333 !important;
}

.now-playing {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.ui.card:first-child {
  margin-top: 1em;
}

.rating-filter{
  box-sizing: border-box;
  display: inline-block;
  width: 200px;
  margin: 20px;
}

.rating-filter__display{
  position: relative;
  margin-top: 5px;
}

.rating-filter__display-mask{
  position: absolute;
  display: block !important;
  right:0;
  margin-top: -20px;
  height: 20px;
  background-color: #333;
  overflow: hidden;
}

.genre-filter{
  box-sizing: border-box;
  display: inline-block;
  width: calc(100% - 250px);
  border: none;
  text-align: center;
}

.genre-filter__genre{
  display: inline-block;
  margin: 5px;
}

.genre-filter__genre input{
  display: none;
}

.genre-filter__genre label{
  cursor: pointer;
}
.genre-filter__genre input + label .genre-filter__genre-label{
  color: #fff;
  background: #800;
}

.genre-filter__genre input:checked + label .genre-filter__genre-label{
  background: #080;
}

.genre-filter__genre-label{
  user-select: none;
}

.label.movie__tag{
  margin: 5px;
}

.label.movie__tag.active,
.label.movie__tag.active::before,
.label.movie__tag.active::after{
  color: #fff;
  background: #080;
}

.movie.ui.card {
  border-radius: 20px 0;
  overflow: hidden;
}

.loading-indicator__ellipsis {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.loading-indicator__ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
header .loading-indicator__ellipsis div {
  background: #ccc;
}
.loading-indicator__ellipsis div:nth-child(1) {
  left: 6px;
  animation: loading-indicator__ellipsis1 0.6s infinite;
}
.loading-indicator__ellipsis div:nth-child(2) {
  left: 6px;
  animation: loading-indicator__ellipsis2 0.6s infinite;
}
.loading-indicator__ellipsis div:nth-child(3) {
  left: 26px;
  animation: loading-indicator__ellipsis2 0.6s infinite;
}
.loading-indicator__ellipsis div:nth-child(4) {
  left: 45px;
  animation: loading-indicator__ellipsis3 0.6s infinite;
}
@keyframes loading-indicator__ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading-indicator__ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading-indicator__ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
